/**:
  ros__parameters:
    cav_ids:
    - 1
    - 2
    - 3
    - 4
    high_priority_ids:
    - 1
    - 2
    local_path_size: 140
    search_window: 120
    smooth_window: 2
    corner_smooth_window: 1
    corner_curvature_threshold: 0.05
mpc_tracker_cav01:
  ros__parameters:
    time_step: 0.05
    Q_pos: 110.0
    Q_heading: 120.0
    weight_curvature: 2.0
    weight_input: 0.36
    max_velocity: 0.49
    max_accel: 1.70
    max_angular_vel: 1.65
    kappa_limit_ref_velocity: 0.42
    max_omega_abs: 1.70
    max_omega_rate: 26.0
    max_v_rate: 2.2
    sigmoid_tau_accel: 0.40
    sigmoid_tau_decel: 0.20
    ref_preview_steps: 20
    lateral_bound: 0.22
    w_lateral_slack_lin: 2500.0
    w_lateral_slack_quad: 25000.0
    osqp_max_iter: 2000
    osqp_eps_abs: 1.0e-4
    osqp_eps_rel: 1.0e-4
    osqp_polish: false
    enable_path_fallback: true
    fallback_min_abs_omega: 0.05
    fallback_lookahead_index: 10
    fallback_max_abs_omega: 1.10
    fallback_blend: 0.08
    path_hold_distance_gain: 0.28
    path_hold_heading_gain: 0.22
    path_hold_max_omega: 1.40
    path_hold_lookahead_index: 14
    path_hold_recovery_distance: 0.30
    path_hold_heading_error_gain: 1.1
    path_hold_cross_track_gain: 0.80
    path_hold_recovery_blend: 0.50
    curve_speed_enable: true
    curve_speed_heading_threshold: 0.13
    curve_speed_reduction_gain: 0.90
    curve_speed_min_ratio: 0.38
    overshoot_guard_distance: 0.13
    overshoot_reverse_damping: 0.52
    oscillation_guard_enable: true
    oscillation_guard_cte_deadband: 0.08
    oscillation_guard_heading_deadband: 0.20
    oscillation_guard_reverse_damping: 0.70
    adaptive_corner_mode_enable: true
    adaptive_near_cte_thresh: 0.14
    adaptive_near_heading_thresh: 0.14
    adaptive_near_omega_damping: 0.30
    adaptive_near_omega_rate_scale: 0.30
    adaptive_near_v_scale: 0.90
    off_path_recovery_enable: true
    off_path_recovery_distance: 0.38
    off_path_recovery_exit_distance: 0.18
    off_path_recovery_speed: 0.10
    off_path_recovery_heading_gain: 3.2
    off_path_recovery_cte_gain: 2.4
    off_path_recovery_max_omega: 1.8
    horizon: 40
mpc_tracker_cav02:
  ros__parameters:
    time_step: 0.05
    Q_pos: 100.0
    Q_heading: 108.0
    weight_curvature: 2.0
    weight_input: 0.36
    max_velocity: 0.5
    max_accel: 1.5
    max_angular_vel: 1.6
    kappa_limit_ref_velocity: 0.35
    max_omega_abs: 1.7
    max_omega_rate: 24.0
    max_v_rate: 2.0
    ref_preview_steps: 11
    enable_path_fallback: true
    fallback_min_abs_omega: 0.05
    fallback_lookahead_index: 12
    fallback_max_abs_omega: 0.85
    fallback_blend: 0.15
    horizon: 60
mpc_tracker_cav03:
  ros__parameters:
    time_step: 0.05
    Q_pos: 100.0
    Q_heading: 108.0
    weight_curvature: 2.0
    weight_input: 0.36
    max_velocity: 0.46
    max_accel: 1.5
    max_angular_vel: 2.0
    kappa_limit_ref_velocity: 0.35
    max_omega_abs: 1.65
    max_omega_rate: 20.0
    max_v_rate: 2.0
    ref_preview_steps: 11
    enable_path_fallback: true
    fallback_min_abs_omega: 0.05
    fallback_lookahead_index: 12
    fallback_max_abs_omega: 0.8
    fallback_blend: 0.15
    horizon: 60
mpc_tracker_cav04:
  ros__parameters:
    time_step: 0.05
    Q_pos: 100.0
    Q_heading: 108.0
    weight_curvature: 2.0
    weight_input: 0.36
    max_velocity: 0.44
    max_accel: 1.5
    max_angular_vel: 1.6
    kappa_limit_ref_velocity: 0.35
    max_omega_abs: 1.65
    max_omega_rate: 19.0
    max_v_rate: 2.0
    ref_preview_steps: 11
    enable_path_fallback: true
    fallback_min_abs_omega: 0.05
    fallback_lookahead_index: 12
    fallback_max_abs_omega: 0.8
    fallback_blend: 0.15
    horizon: 60
hv_settings:
- id: 19
  node_sequence:
  - 38
  - 41
  - 62
  - 38
- id: 20
  node_sequence:
  - 62
  - 41
  - 38
  - 62
