/**:
  ros__parameters:
    cav_ids:
    - 1
    - 2
    - 3
    - 4
    high_priority_ids:
    - 1
    - 2
    local_path_size: 140
    search_window: 120
    smooth_window: 2
    corner_smooth_window: 1
    corner_curvature_threshold: 0.05
mpc_tracker_cav01:
  ros__parameters:
    time_step: 0.05
    Q_pos: 100.0
    Q_heading: 104.0
    weight_curvature: 2.0
    weight_input: 0.5
    max_velocity: 0.48
    max_accel: 1.5
    max_angular_vel: 1.6
    kappa_limit_ref_velocity: 0.35
    max_omega_abs: 1.65
    max_omega_rate: 21.0
    max_v_rate: 2.0
    ref_preview_steps: 12
    enable_path_fallback: true
    fallback_min_abs_omega: 0.05
    fallback_lookahead_index: 12
    fallback_max_abs_omega: 0.85
    fallback_blend: 0.1
    horizon: 60
mpc_tracker_cav02:
  ros__parameters:
    time_step: 0.05
    Q_pos: 100.0
    Q_heading: 108.0
    weight_curvature: 2.0
    weight_input: 0.36
    max_velocity: 0.5
    max_accel: 1.5
    max_angular_vel: 1.6
    kappa_limit_ref_velocity: 0.35
    max_omega_abs: 1.7
    max_omega_rate: 24.0
    max_v_rate: 2.0
    ref_preview_steps: 11
    enable_path_fallback: true
    fallback_min_abs_omega: 0.05
    fallback_lookahead_index: 12
    fallback_max_abs_omega: 0.85
    fallback_blend: 0.15
    horizon: 60
mpc_tracker_cav03:
  ros__parameters:
    time_step: 0.05
    Q_pos: 100.0
    Q_heading: 108.0
    weight_curvature: 2.0
    weight_input: 0.36
    max_velocity: 0.46
    max_accel: 1.5
    max_angular_vel: 2.0
    kappa_limit_ref_velocity: 0.35
    max_omega_abs: 1.65
    max_omega_rate: 20.0
    max_v_rate: 2.0
    ref_preview_steps: 11
    enable_path_fallback: true
    fallback_min_abs_omega: 0.05
    fallback_lookahead_index: 12
    fallback_max_abs_omega: 0.8
    fallback_blend: 0.15
    horizon: 60
mpc_tracker_cav04:
  ros__parameters:
    time_step: 0.05
    Q_pos: 100.0
    Q_heading: 108.0
    weight_curvature: 2.0
    weight_input: 0.36
    max_velocity: 0.44
    max_accel: 1.5
    max_angular_vel: 1.6
    kappa_limit_ref_velocity: 0.35
    max_omega_abs: 1.65
    max_omega_rate: 19.0
    max_v_rate: 2.0
    ref_preview_steps: 11
    enable_path_fallback: true
    fallback_min_abs_omega: 0.05
    fallback_lookahead_index: 12
    fallback_max_abs_omega: 0.8
    fallback_blend: 0.15
    horizon: 60
hv_settings:
- id: 19
  node_sequence:
  - 38
  - 41
  - 62
  - 38
- id: 20
  node_sequence:
  - 62
  - 41
  - 38
  - 62
